{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "importOrder": [
    "^svelte(.*)",
    "<THIRD_PARTY_MODULES>",
    "^$lib/(.*)",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "jsxSingleQuote": false,
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 100,
  "plugins": [
    "prettier-plugin-svelte",
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "quoteProps": "consistent",
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "overrides": [
    {
      "files": "*.svelte",
      "options": { "parser": "svelte" }
    }
  ]
}
